**/out
*.bf
client/**
server/**

node_modules
!client/dist
!server/dist

**/*.md
!README.md
*.vsix
.vscode/**
**/*.ts
**/*.map
**/.gitignore
**/.eslintrc.json
**/.eslintignore
**/tsconfig.json
**/tsconfig.base.json
# contributing.md
.travis.yml
# client/node_modules/**
